:root {
    --primary: #0088cc;
}

* {
    box-sizing: border-box;
}

html {
    /* Smooth scroll for links */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #eee;

    /* Define standard text style */
    color: #000000;
    font-family: sans-serif;
    line-height: 1.5;
}

a {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
}


/* || HEADER || */
header {
    /* Set background image */
    /*background-image: url("../media/header-bg.png");*/
    background-color: skyblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Fit to container */

    /* Make header fill screen */
    height: 100vh;
}

header .container {
    /* Center header content */
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);

    padding: 0 2em;

    /* Text styling */
    color: white;
    line-height: normal;
}

header small {
    font-size: 1.5em;
    font-weight: lighter;
}

header h1 {
    font-size: 4.5em;
    margin: 0;
}

header p {
    font-size: 1em;
    margin: 0;
    margin-bottom: 2em;
}

/* || NAVBAR || */
.sidenav {
    background-color: #000000ee;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    transition: 0.5s;
    padding-top: 4.5em;
    z-index: 2;
    outline: 1px solid black;
}

.sidenav a {
    display: block;
    text-decoration: none;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 8.5em;
}

.sidenav a:hover {
    background-color: var(--primary);
}

/* || BUTTONS || */
/* General */
.icon-button {
    cursor: pointer;
    border: none;
    background-color: #ffffff00;
    z-index: 1;
}

.icon-button img {
    width: 2.5em;
}

.center-wrapper {
    position: relative;
    height: 2em;
    margin-top: 2em;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.colored-button {
    cursor: pointer;
    border: 3px solid var(--primary);
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    padding: 0.5em 1em;
}

/*.colored-button:hover {
    background-color: var(--primary);
    color: white;
    transition: 0.5s;
}*/

.load-more {
    width: 70%;
}

/* Specific */
/* Scroll down hint */
.scroll-down-hint {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: rotate(180deg) translate(50%, 50%);
}

.scroll-down-hint img {
    width: 2.5em;
    opacity: 50%;
    filter: invert();
}

/* Nav burger and close button */
.nav-burger {
    display: block;
    position: fixed;
    right: 3em;
    top: 2em;
}

.close-nav {
    display: none;
    position: fixed;
    right: 3em;
    top: 2em;
}

.close-nav img {
    filter: invert();
}

/* Scroll to top button */
.scroll-top {
    display: none;
    position: fixed;
    right: 3em;
    bottom: 2em;
}

/* || MAIN CONTENT || */
/* Search Bar */
.search-container {
    border: 1px solid gray;
}

.search-container input {
    padding: 0.5em;
    width: 85%;
    border: none;
}

.search-container button {
    cursor: pointer;
    border: none;
    padding: 0.5em;
    background-color: var(--primary)   ;
    border-left: 1px solid gray;
    width: 15%;
}

.search-container button img {
    height: 1em;
    filter: invert();
}

/* Mobile styling */
.content {
    content: "";
    display: table;
    clear: both;
}

.content h2 {
    margin: 0;
}

main {
    float: left;
    width: 100%;
}

aside {
    float: left;
    width: 100%;
}

/* Article cards */
.card {
    margin-top: 2em;
    padding: 2em;
    background-color: white;
    box-shadow: 0 0 1em 0px #ddd;
    overflow: auto; /* Clearfix */
}

.thumbnail {
    width: 100%;
    margin-bottom: 1.5em;
}

.card small {
    color: #333;
}

.panel {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

article.card > p:first-of-type {
    margin-bottom: 0;
}

.article-head {
    border-left: 0.4em solid var(--primary);
    padding-left: 0.5em;
}

.about img {
    width: 100%;
    border-radius: 50%;
    float: left;
    margin: 0 2em 2em 0 ;
}

/* For Tablets */
@media only screen and (min-width: 600px) {
    .about img {
        width: 50%;
    }
}

/* For Desktop */
@media only screen and (min-width: 992px) {
    header .container {
        padding: 0 4em;
    }

    header small {
        font-size: 2em;
    }

    header h1 {
        font-size: 6em;
    }

    header p {
        font-size: 1.5em;
    }

    .nav-burger {
        display: none;
    }

    .content {
        padding: 0 2em;
    }

    main {
        width: 67%;
    }

    aside {
        width: 33%;
        padding-left: 2em;
    }

    .about img {
        width: 100%;
        margin: 0 0 2em 0; /* For Edge being a special little snowflake */
    }
}

/* For Extra Large Devices */
@media only screen and (min-width: 1500px) {
    header .container {
        padding: 0 calc(2em + 10vw);
    }

    .content {
        padding: 0 10vw;
    }

    .about img {
        width: 40%;
        margin: 0 2em 2em 0;
    }
}

/* Footer */
footer {
    /* General Styling */
    background-color: var(--primary);
    margin-top: 2em;
    padding: 2em;

    /* Text Styling */
    color: white;
    text-align: center;
}


footer a {
    color: white;
}