* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* Smooth scroll for links */
}

body {
    /* General Styling */
    margin: 0;
    background-color: #eeeeee;

    /* Universal Text Styling */
    color: #000000;
    font-family: sans-serif;
    line-height: 1.5;
}

/* Header */
header {
    /* General Styling */
    background-image: linear-gradient(#0099ccbb, #0099ccbb), url("../media/header-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Fit to container */
    background-attachment: fixed; /* Parallex */
    
    height: 100vh;
}

header .container {
    /* Positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Text Styling */
    color: #ffffff;
    text-align: center;
}

#scroll-down-icon {
    display: block;
    width: 2em;
    opacity: 50%;
    filter: invert();
    -webkit-filter: invert();
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: rotate(180deg) translate(50%, 50%);
}

/* Navbar */
.navbar {
    /* General Styling */
    list-style-type: none;
    background-color: #0088bb;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li a {
    /* General Styling */
    display: block;
    float: left;

    /* Text Styling */
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 1em;
}

.navbar li a:hover {
    background-color: #000000
}

/* Scroll to top button */
#topBtn {
    display: none;
    position: fixed;
    bottom: 2em;
    right: 3em;
    cursor: pointer;
    border: none;
    background-color: #ffffff00;
    z-index: 99;
}

.scroll-top-icon {
    width: 2.5em;
}

/* Main Content */
/* For Mobile */
.content h2 {
    font-family: "Times New Roman";
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

main {
    float: left;
    width: 100%;
}

aside {
    float: left;
    width: 100%;
}

.card {
    margin-top: 2em;
    padding: 2em;
    background-color: #ffffff;
    box-shadow: 0 0 1em 0px #dddddd;
    overflow: auto; /* Clearfix */

    opacity: 0; /* Fade animation */
}

.card small {
    color: #333;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.thumbnail {
    width: 100%;
    margin-bottom: 1.5em;
}

.about img {
    width: 100%;
    border-radius: 50%;
    float: left;
    margin: 0 2em 2em 0 ;
}

/* For Tablets */
@media only screen and (min-width: 600px) {
    .about img {
        width: 50%;
    }
}

/* For Desktop */
@media only screen and (min-width: 992px) {
    .content {
        padding: 0 10vw;
    }

    main {
        width: 67%;
    }

    aside {
        width: 33%;
        padding-left: 2em;
    }

    .about img {
        width: 100%;
    }
}

/* For Extra Large Devices */
@media only screen and (min-width: 1600px) {
    .about img {
        width: 40%;
    }
}

/* Footer */
footer {
    /* General Styling */
    background-color: #0099cc;
    margin-top: 1.5em;
    padding: 2em;

    /* Text Styling */
    color: #ffffff;
}
