/* TEMPLATING */
:root {
    --primary: #4682b4;
    --primary-dark: #1d374d;

    --accent: #ed9842;
    --accent-dark: #e98016;

    --light: #fff;
    --grey: #777;
    --dark: #333;

    --gradient-accent: linear-gradient(135deg, #ff4942, #dbe643);

    --font: comfortaa;
}

@font-face {
    font-family: comfortaa;
    src: url("../fonts/Comfortaa-Bold.ttf");
}

body {
    background-color: var(--light);
    color: var(--dark);

    overflow-x: hidden;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p {
    margin: 1em 0 0.5em 0;
    line-height: 1.5;
}

p {
    text-align: justify;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child {
    margin-top: 0;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font);
    font-weight: 900;
    position: relative;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

.blog h1 {
    text-align: left;
}

h2 {font-size: 1.75rem;}

h3 {font-size: 1.5rem;}

h4 {font-size: 1.25rem;}

/* MISC */
.bg-primary {
    background-color: var(--primary);
    color: var(--light);
}

.bg-primary-dark {
    background-color: var(--primary-dark);
    color: var(--light);
}

.bg-accent {
    background-color: var(--accent);
}

.bg-light {
    background-color: var(--light);
}

.bg-light-gray {
    background-color: #eee;
}

hr {
    border: none;
    background-color: #ddd;
    height: 2px;
}

.shadow {
    box-shadow: 0 0 4rem #00000022;
}

/* UNIVERSAL */
nav {
    background-image: linear-gradient(#000000dd, transparent);
    color: var(--light);
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 5rem;
}

nav .nav-container {
    position: relative;
    max-width: 1200px;
    margin: auto;
}

nav .nav-buttons {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 120;
    padding: 1.5rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-logo {
    transition: 0.2s;
}

nav .logo {
    height: 2rem;
}

nav .nav-links {
    position: absolute;
    z-index: 110;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-dark);
    padding: 5rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: scroll;
    transition: 0.4s;
}

nav .hidden {
    right: -110%;
}

nav .nav-links a {
    padding: 0.8rem 2.3rem;
    border-radius: 1rem;
    transition: 0.2s;
}

nav .nav-links a:hover,
nav .nav-links a:focus {
    background-color: var(--primary);
    box-shadow: 0 0 2rem #00000022;
    padding-left: 2.8rem;
}

section {
    padding: 2rem;
    scroll-margin-top: 5rem; /* INSERT NAV HEIGHT HERE */
    max-width: 1200px;
    margin: 0 auto;
}

.main-aside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main {
    flex-basis: 70%;
}

aside {
    flex-basis: 30%;
}

ol, ul {
    list-style-type: disc;
    list-style-position: outside;
    margin: 1em 0;
    padding-left: 1.5em;
}

li p {
    text-align: left;
    margin-left: 0.5em;
}

li:not(:first-child) {
    margin-top: 0.5em;
}

fieldset {
    margin: 2rem 0;
    padding-top: 1rem;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

/* SPECIFIC */

/* Landing Page */
#banner {
    height: 100vh;
    height: 100svh;

    background-image: linear-gradient(#1d374dc0, #1d374dc0), url("../media/office.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    overflow-x: hidden;
}

#banner h1 {
    min-height: 9rem;
    word-spacing: 1000rem;
    color: transparent;
    background: var(--gradient-accent);
    -webkit-background-clip: text;
            background-clip: text;
    font-size: 3rem;
}

#banner hr {
    max-width: 15rem;
    height: 0.25rem;
    margin: auto;
    border-radius: 1000rem;
    background-color: var(--accent);
}

#banner p {
    margin-top: 2rem;
    text-align: center;
}

#banner {
    position: relative;
}

#banner svg {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

#leistungen h1:not(:first-child) {
    margin-top: 4rem;
}

#leistungen .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem 6rem;
}

#leistungen .grid-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#leistungen svg {
    flex: 0 0 8rem;
    margin: auto;
}

#leistungen p {
    text-align: left;
}

#ablauf .timeline {
    position: relative;
    padding-left: 2rem;
    display: grid;
    gap: 2rem;
    margin-top: 2rem;
}

#ablauf .timeline::before {
    content: "";
    position: absolute;
    width: 0.25rem;
    top: 1rem;
    bottom: 0;
    left: 0.5rem;
    transform: translateX(-50%);
    background-color: var(--primary);
}

#ablauf .timeline::after {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    bottom: 0;
    border-bottom: 0.25rem solid var(--primary);
    border-right: 0.25rem solid var(--primary);
    border-left: 0.25rem solid transparent;
    border-top: 0.25rem solid transparent;
    transform: rotate(45deg);
}

#ablauf .timeline .event {
    position: relative;
}

#ablauf .timeline .event::before {
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: var(--accent);
    outline: 0.5rem solid var(--light);
    position: absolute;
    left: -2rem;
    top: 0.75rem;
    border-radius: 100%;
}

#ablauf .timeline .event h2 {
    margin-bottom: 0;
}

#ablauf .timeline .event p {
    color: var(--grey);
    margin: 0;
}

#portfolio p {
    text-align: left;
}

#portfolio .slideshow {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#portfolio .slide {
    margin: 0 1rem;
}

#portfolio .slide-thumbnail {
    position: relative;
}

#portfolio .slide-thumbnail img {
    border-radius: 2rem;
    width: 100%;
    
    aspect-ratio: 1/1;
}

#portfolio .slide-thumbnail [class*=arrow-] {
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    color: var(--light);

    transition: 0.2s;
}

#portfolio .slide-thumbnail [class*=arrow-]:hover,
#portfolio .slide-thumbnail [class*=arrow-]:focus {
    font-size: 2rem; 
}

#portfolio .slide-thumbnail .arrow-left {
    left: -0.5rem;
    transform: translate(-50%, -50%);
}

#portfolio .slide-thumbnail .arrow-right {
    right: -0.5rem;
    transform: translate(50%, -50%);
}

#about {
    overflow: hidden;
}

#about .profile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#about .profile-deco {
    max-width: 16rem;
    align-self: center;
    margin: 3rem;
    position: relative;
    transform: rotate(35deg);
    flex-shrink: 0;
}

#about .profile-deco::before {
    content: "";
    width: 40%;
    height: 40%;
    border-radius: 33%;
    background-color: var(--primary);
    position: absolute;
    top: -10%;
    left: 70%;
}

#about .profile-deco::after {
    content: "";
    width: 50%;
    height: 50%;
    border-radius: 25%;
    background-color: var(--primary-dark);
    position: absolute;
    left: 25%;
    bottom: -20%;
}

#about .profile-deco .profile-picture {
    border-radius: 25%;
    overflow: hidden;
    box-shadow: 0 0 2rem #00000044;

    position: relative;
    z-index: 10;
}

#about .profile-picture img {
    transform: rotate(-35deg) scale(120%);
}

footer p {
    text-align: left;
}

footer h1 {
    text-align: left;
    font-weight: normal;
    font-size: 1.5rem;
}

footer #networks {
    display: flex;
    gap: 2rem;
    justify-content: center;
    font-size: 1.5rem;
}

footer #networks a {
    transition: 0.2s;
}

footer #networks a:hover,
footer #networks a:focus {
    transform: scale(120%);
}

footer .footer-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

footer .footer-info .footer-links .links {
    -moz-columns: 2;
         columns: 2;
}

footer .copyright {
    text-align: center;
}

/* Blog */
.blog {
    background-color: #eee;
    padding-top: 7rem;
    padding-bottom: 2rem;
}

.post-preview {
    margin: 2rem 0;
}

/* Impressum, Datenschutz, Kontakt */
#impressum, #datenschutz, #kontakt {
    padding-top: 7rem; /* INSERT NAV HEIGHT + 2rem HERE */
}

#kontakt .input-checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#kontakt .input-labeled-text {
    position: relative;
    margin-top: 1rem;
}

#kontakt .input-labeled-text input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--dark);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--dark);

}

#kontakt .input-labeled-text label {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    transition: 0.5s;
    color: var(--grey);
}

#kontakt .input-labeled-text input:focus {
    outline: none;
}

#kontakt .input-labeled-text input:not(:-moz-placeholder-shown) ~ label {
    top: -0.5rem;
}

#kontakt .input-labeled-text input:focus ~ label,
#kontakt .input-labeled-text input:hover ~ label,
#kontakt .input-labeled-text input:not(:placeholder-shown) ~ label {
    top: -0.5rem;
}

/*#kontakt .input-labeled-text input:invalid ~ label,
#kontakt .input-labeled-text input:invalid {
    color: #d00;
    border-color: #d00;
}*/

/* TABLET */
@media only screen and (min-width: 768px) {
    #leistungen .grid-item {
        flex-direction: row;
    }

    #ablauf .timeline {
        padding: 0;
        grid-template-columns: 1fr 1fr;
        gap: 0 3rem;
        max-width: 992px;
        margin: auto;
    }

    #ablauf .timeline::before {
        left: 50%;
    }

    #ablauf .timeline::after {
        left: calc(50% - 0.5rem);
    }

    #ablauf .timeline .event:nth-child(2n) {
        margin-top: 10rem;
    }

    #ablauf .timeline .event:nth-child(2n+1) {
        text-align: right;
    }
    
    #ablauf .timeline .event:nth-child(2n+1) p {
        text-align: right;
    }

    #ablauf .timeline .event:nth-child(2n) p {
        text-align: left;
    }
    
    #ablauf .timeline .event:nth-child(2n+1)::before {
        left: calc(100% + 1rem);
    }

    #portfolio .slideshow {
        flex-direction: row;
        gap: 4rem;
        margin-top: 2rem;
    }

    #portfolio .slideshow > * {
        flex: 0 0 calc(50% - 2rem);
    }

    #portfolio .slideshow .slide-body {
        align-self: center;
    }

    footer .footer-info {
        flex-direction: row;
        gap: 0;
    }

    footer .footer-info .footer-links,
    footer .footer-info .footer-contact {
        flex: 0 0 50%
    }

    footer .footer-info .footer-links {
        padding-right: 2rem;
    }
}

/* SMALL LAPTOPS */
@media only screen and (min-width: 992px) {
    nav .nav-burger {
        display: none;
    }

    nav .nav-links {
        z-index: 130;
        right: 0;
        width: auto;
        height: auto;
        background-color: transparent;
        padding: 1rem;
        flex-direction: row;
        gap: 0;
    }

    nav .nav-links a {
        padding: 1rem;
        border-radius: 0;
        text-shadow: 1px 1px 2px #000000aa;
    }

    nav .nav-links a:hover,
    nav .nav-links a:focus {
        background-color: transparent;
        box-shadow: none;
        padding-left: 1rem;
        transform: scale(105%);
    }

    nav .nav-logo:hover,
    nav .nav-logo:focus {
        transform: scale(105%);
    }

    .main-aside {
        flex-direction: row;
    }

    #leistungen .grid {
        grid-template-columns: 1fr 1fr;
    }

    #about .profile {
        flex-direction: row-reverse;
        gap: 4rem;
    }
}

/* DESKTOPS */
@media only screen and (min-width: 1200px) {
    #banner h1 {
        min-height: 6rem;
        word-spacing: normal;
        font-size: 4rem;
    }
}
