/* TEMPLATING */
:root {
    --primary: #4682b4;
    --primary-dark: #1d374d;

    --accent: #ed9842;
    --accent-dark: #b66311;

    --light: #fff;
    --grey: #777;
    --dark: #333;

    --gradient-accent: linear-gradient(135deg, #ff4942, #dbe643);

    --font: comfortaa;
}

@font-face {
    font-family: comfortaa;
    src: url("../fonts/Comfortaa-Bold.ttf");
}

body {
    background-color: var(--light);
    color: var(--dark);
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p {
    margin: 1em 0 0.5em 0;
    line-height: 1.5;
}

p {
    text-align: justify;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child {
    margin-top: 0;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font);
    font-weight: 900;
    position: relative;
}

h1 {font-size: 2rem;}

h2 {font-size: 1.75rem;}

h3 {font-size: 1.5rem;}

h4 {font-size: 1.25rem;}

/* MISC */
.bg-primary {
    background-color: var(--primary);
    color: var(--light);
}

.bg-primary-dark {
    background-color: var(--primary-dark);
    color: var(--light);
}

.bg-accent {
    background-color: var(--accent);
}

.bg-light {
    background-color: var(--light);
}

hr {
    border: none;
    background-color: #ddd;
    height: 2px;
}

h1.underlined {
    margin-bottom: 1em;
}

h1.underlined::after {
    content: "";
    width: 8rem;
    height: 0.25rem;
    border-radius: 1000rem;
    background-color: var(--primary);

    position: absolute;
    bottom: -0.5rem;
    left: 0;
}

h1.underlined-center::after {
    left: 50%;
    transform: translateX(-50%);
}

/* UNIVERSAL */
nav {
    background-image: linear-gradient(#000000dd, transparent);
    color: var(--light);
    position: fixed;
    z-index: 100;
    width: 100%;
}

section {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

main {
    flex-basis: 70%;
}

aside {
    flex-basis: 30%;
}

.main-aside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* SPECIFIC */

/* Landing Page */
#banner {
    height: 100vh;
    height: 100svh;

    background-image: linear-gradient(#1d374dc0, #1d374dc0), url("../media/office.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    overflow-x: hidden;
}

#banner h1 {
    min-height: 9rem;
    word-spacing: 1000rem;
    color: transparent;
    background: var(--gradient-accent);
    background-clip: text;
    font-size: 3rem;
}

#banner hr {
    max-width: 15rem;
    height: 0.25rem;
    margin: auto;
    border-radius: 1000rem;
    background-color: var(--accent);
}

#banner p {
    margin-top: 2rem;
    text-align: center;
}

#banner {
    position: relative;
}

#banner svg {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

#leistungen h1 {
    text-align: center;
}

#leistungen h1:not(:first-child) {
    margin-top: 4rem;
}

#leistungen h1 i {
    margin-right: 1rem;
}

#leistungen .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem 4rem;
}

#leistungen .grid-item {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
}

#leistungen svg {
    flex: 0 0 6rem;
}

#ablauf .timeline {
    position: relative;
    padding-left: 2rem;
}

#ablauf .timeline::before {
    content: "";
    position: absolute;
    width: 0.25rem;
    top: 1rem;
    bottom: 0;
    left: calc(0.5rem - 0.125rem);
    background-color: var(--primary);
}

#ablauf .timeline .event {
    position: relative;
    margin-top: 2rem;
}

#ablauf .timeline .event::before {
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    background-color: var(--accent);
    outline: 0.5rem solid var(--light);
    position: absolute;
    left: -1.875rem;
    top: 0.75rem;
}

#ablauf .timeline .event h2 {
    margin-bottom: 0;
}

#ablauf .timeline .event p {
    color: var(--grey);
    margin: 0;
}

/* Blog */
.blog {
    background-color: #eee;
    padding-top: 7rem;
    padding-bottom: 2rem;
}

.post-preview {
    margin: 2rem 0;
}

/* TABLET */
@media only screen and (min-width: 768px) {
    #leistungen .grid-item {
        flex-direction: row;
    }
}

/* SMALL LAPTOPS */
@media only screen and (min-width: 992px) {
    .main-aside {
        flex-direction: row;
    }

    #leistungen .grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* DESKTOPS */
@media only screen and (min-width: 1200px) {
    #banner h1 {
        min-height: 6rem;
        word-spacing: normal;
        font-size: 4rem;
    }
}
